<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ANDRY'S CORPORATION</title>
  <link rel="stylesheet" href="~/vendors/mdi/css/materialdesignicons.min.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/vendors/base/vendor.bundle.base.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
  <link rel="shortcut icon" href="~/images/favicon.png" asp-append-version="true"/>
  <link href="~/css/popup.css" rel="stylesheet">
</head>
<body>
    @RenderBody()
</body>
  <script src="~/vendors/base/vendor.bundle.base.js" asp-append-version="true"></script>
  <script src="~/js/template.js" asp-append-version="true"></script>