@{
    Layout = "_Layout";
    var materiaux = ViewData["materiaux"] as List<Materiel>;
}
<div class="container-scroller">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="col-md-12 grid-margin grid-margin-md-0 stretch-card">
                            <div class="card">
                                <form class="forms-sample" asp-controller="Admin" asp-action="Insert_detailMateriel" method="post">
                                    <div class="card-body">
                                        <div class="form-group row align-items-center">
                                            <label class="col-sm-1 col-form-label">Materiel: </label>
                                            <div class="col-sm-4">
                                                <select class="js-example-basic-multiple w-100" name="materiel">
                                                    @if (materiaux != null)
                                                    {
                                                        @foreach(var item in materiaux)
                                                        {
                                                            <option value="@item.IdMateriel">@item.Nom</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <label class="col-sm-1 col-form-label">Quantite: </label>
                                            <div class="col-sm-4">
                                                <input class="form-control" type="text" name="quantite" placeholder="Quantite"  lang="en" inputmode="decimal"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12 text-right">
                                                <center><button type="submit" style="width: 200px; height: 50px;" class="btn btn-primary">VALIDER</button></center>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelector('form').addEventListener('submit', function (event) {
        let quantiteField = document.querySelector('input[name="quantite"]');
        if (quantiteField) {
            quantiteField.value = quantiteField.value.replace('.', ',');
        }
    });
</script>